body {
  background: #141414;
  margin-bottom: 20vh;
}
.navbar {
  @include flex-space-between();
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  background-color: #141414;
  transition: ease all 1s;
  z-index: 10;
  padding: 0 52px;
  & > div {
    @include flex-align-items-center();
  }
  .logo {
    width: 110px;
    text-decoration: none;
    font-size: 1.8em;
    display: inline-block;
    margin-right: 25px;
    background-image: url(../../images/movie-on-logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    &::before {
      content: '\3000';
    }
  }
  .navbar-list {
    display: flex;
    a {
      font-size: 12px;
      line-height: 14.5px;
      color: #e5e5e5;
      margin-left: 18px;
      text-decoration: none;
      transition: color .4s;
      &:hover {
        color: #b3b3b3;
      }
      &.active {
        font-weight: bold;
        color: white;
      }
    }
    button + button {
      margin-left: 15px;
    }
  }
  &-input-group {
    @include flex-align-items-center();
    background-color: transparent;
    padding: 4px 8px 4px 4px;
    border-radius: 7px;
    transition-duration: 1s;
    input {
      height: 100%;
      background: transparent;
      color: #fffffe;
      width: 1px;
      transition-duration: 3s;
    }
    button {
      background: transparent;
      height: 100%;
      border-radius: 7px;
      &:hover {
        border: none;
      }
    }
  }
  &-input-group.isFocus {
    @include flex-align-items-center();
    background-color: rgba(#434343, 0.5);
    input {
      width: 100%;
      animation: inputAnim 5s;
    }
  }
}
.navbar.top {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.7) 10%, rgba(0,0,0,0));
  .navbar-input-group.isFocus {
    background-color: rgba(#141414, 0.5);
    border: 1px solid rgba(white, 0.2);
  }
}

@keyframes inputAnim {
  0% { width: 1px; }
  100% { width: 100%; }
}