$Dark: #1e201f;
$DarkGray: #434343;
$DarkGrayGreen: #797979;
$Gray: #A8A8A8;
$GrayGreenLight: #BBBCBB;
$GrayLight: #E0E0E0;
$White: #ffffff;
$WhiteOnly: #FFFFFE;
$Green: #0BC37B;
$Red: #ec4d4d;
$Orange: #f78411;
$GrayBlue: #6E84A0;
$DarkPink: #320100;
$DarkGreen: #1d2f28;