.search-wrapper, .search-wrapper * {
  box-sizing: border-box;
}
.search-wrapper {
  position: relative;
  margin-top: 60px;
  width: 100%;
  .search-hint {
    text-align: center;
    margin: 8em auto 3em;
    color: grey;
    span {
      color: white;
    }
  }
}

.browse-wrapper {
  position: relative;
  width: 100%;
  .flex-space-between {
    margin-right: 7%;
    @include flex-space-between();
  }
  .movie-gallery {
    padding: 0 4% 0 6.5%;
    margin-top: 12em;
  }
  .conditions-wrapper {
    position: fixed;
    width: 100%;
    background: #141414;
    z-index: 5;
    padding: 100px 52px 20px;
    top: 0;
    .rs-slider {
      .rs-slider-bar {
        background-color: rgba(255, 255, 255, .2);
      }
      .rs-slider-progress-bar {
        background-color: #690B0C;
      }
      .rs-slider-handle::before {
        border-color: rgba(#690B0C, .6);
      }
      .rs-slider-graduator {
        li::before {
          display: none;
        }
      }
    }
    .rs-dropdown {
      border: 1px solid white;
    }
    .rs-dropdown, .rs-picker-cascader {
      color: white;
      border-radius: 2px;
      margin: 0 10px;
    }
    .rs-picker-toggle {
      background-color: rgba(#141414, 0.8) !important;
      .rs-picker-toggle-value {
        color: white;
      }
    }
    .rs-btn-subtle {
      color: white;
      font-weight: bold;
    }
    .rs-btn-subtle:focus, .rs-btn-subtle.rs-btn-focus, .rs-btn-subtle:hover, .rs-picker-toggle {
      background-color: rgba(#141414, 0.5);
      color: white;
      border: none;
      border-radius: 2px;
    }
    .rs-picker-menu {
      background-color: #141414 !important;
      border: 1px solid rgba(#797979, 0.3);
      color: white;
      .rs-picker-cascader-menu-item {
        color: white;
      }
    }
    .rs-dropdown-open {
      .rs-dropdown-menu {
        background-color: #141414;
        border: 1px solid rgba(#797979, 0.3);
        width: min-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0;
      }
    }
    .rs-dropdown-menu .rs-dropdown-item-content {
      text-align: center;
      padding: 8px 16px;
      clear: both;
      font-weight: normal;
      line-height: 1.5;
      color: white;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        background-color: rgba(#797979, 0.8);
      }
    }
    .rs-radio-group {
      border-color: transparent;
    }
    .rs-radio-inline {
      border-radius: 7px;
      label {
        padding: 3px 10px;
      }
    }
    .rs-radio-checked .rs-radio-checker > label {
      color: white;
    }
  }
  .page-bottom {
    height: 100px;
  }
}